.video-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.video-preloader.fade-out {
  opacity: 0;
}

.video-preloader-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

